# Directories
.vs/
bin/
bin-int/
Future/
PrismEditor/Assets/scripts
ExampleApp/obj/
Prism.Scripting/obj/
Prism.Scripting/Prism.Scripting.csproj
# Files
*.json
*.user
*.sln
*.vcxproj.user
*.vcxproj
*.vcxproj.filters
*.ini
*.targets
*.csproj
*.cache

