# Directories
.claude/
.vs/
.vscode/
bin/
bin-int/
Future/
PrismEditor/Assets/scripts
ExampleApp/obj/
Prism.Scripting/obj/
Prism.Scripting/Prism.Scripting.csproj


# Files
CLAUDE.md
*.json
*.user
**.sln
**.vcxproj.user
**.vcxproj
**.vcxproj.filters
*.ini
*.targets
*.csproj
*.cache
.gitattributes
.editorconfig

/Prism/vendor/Rolky/Example/Example.Native/x64/Debug
/Prism/vendor/Rolky/Rolky.Native/x64/Debug
/Prism/vendor/Rolky/Tests/Testing.Native/x64/Debug
