[submodule "Prism/vendor/spdlog"]
	path = Prism/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Prism/vendor/GLFW"]
	path = Prism/vendor/GLFW
	url = https://github.com/HMsabachi/glfw
[submodule "Prism/vendor/imgui"]
	path = Prism/vendor/imgui
	url = https://github.com/HMsabachi/imgui
[submodule "Prism/vendor/glm"]
	path = Prism/vendor/glm
	url = https://github.com/g-truc/glm
[submodule "Prism/vendor/FastNoise"]
	path = Prism/vendor/FastNoise
	url = https://github.com/Auburn/FastNoiseLite.git
[submodule "Prism/vendor/PrismShaderCompiler"]
	path = Prism/vendor/PrismShaderCompiler
	url = git@github.com:HMsabachi/PrismShaderCompiler.git
[submodule "Prism/vendor/pybind11"]
	path = Prism/vendor/pybind11
	url = git@github.com:HMsabachi/pybind11.git
[submodule "Prism/vendor/tracy/tracy"]
	path = Prism/vendor/tracy/tracy
	url = https://github.com/wolfpld/tracy.git
