# Directories
.claude/
.vs/
.vscode/
bin/
bin-int/
build/
obj/
Logs/
Future/
__pycache__/
**/__pycache__/
PrismEditor/Assets/scripts/net9.0
ExampleApp/obj/
Prism.Scripting/obj/
Prism.Scripting/Prism.Scripting.csproj


# Files
*.meta
*.pxm
**.pyc
CLAUDE.md
*.json
*.user
**.sln
**.vcxproj.user
**.vcxproj
**.vcxproj.filters
*.ini
*.targets
*.csproj
*.cache
.gitattributes
.editorconfig

/Prism/vendor/Rolky/Example/Example.Native/x64/Debug
/Prism/vendor/Rolky/Rolky.Native/x64/Debug
/Prism/vendor/Rolky/Tests/Testing.Native/x64/Debug

